* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.logo {
  color: orange;
  font-weight: bold;
}

/* BUTTONS */
.btn {
  background: orange;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn.outline {
  background: transparent;
  border: 1px solid orange;
  color: orange;
}

.btn.small {
  padding: 6px 14px;
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h2 span {
  color: orange;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1b1b1b;
  padding: 40px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  border: 1px solid orange;
}

/* ABOUT */
.about-text {
  max-width: 700px;
  margin: 20px auto;
  color: #bbb;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

/* PORTFOLIO */
.filters {
  margin-bottom: 30px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.portfolio-card {
  height: 200px;
  background: #1b1b1b;
  border-radius: 12px;
}

/* CONTACT */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  background: #1b1b1b;
  border: none;
  color: #fff;
  border-radius: 6px;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  color: #777;
}
